@mixin disabled {
  color: #d4d4d4;
  border: 1px solid #d4d4d4;
  cursor: not-allowed;
}

@mixin box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

@mixin hide-native-stepper {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.wrapper {
  display: flex;

  & > .button {
    @include box;
    font-size: 32px;
    border: 1px solid #86bedd;
    color: #86bedd;
    cursor: pointer;

    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }

    &.disabled {
      @include disabled;
    }
  }

  & > .input {
    @include box;
    @include hide-native-stepper;
    font-size: 16px;
    border: 1px solid #d4d4d4;
    color: #222222;
    margin: 0 8px;
    justify-content: center;

    &:disabled {
      @include disabled;
    }

    &:focus {
      outline: 1px solid #86bedd;
    }
  }
}
