.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-width: 260px;
  box-sizing: border-box;
  & > .variant {
    & > .title {
      font-size: 16px;
      font-weight: 500;
      color: #222222;
      margin-bottom: 8px;
    }
    & > .description {
      font-size: 14px;
      font-weight: 400;
      color: #888888;
      margin-bottom: 8px;
    }
  }
}
